<div class="well row">
  <div class="col-sm-4 basic" routerLink="AddExpenses" style="background-color: green;color:white">
    <h1>
      <i class="material-icons " style="color: white ">add</i>
      Add
    </h1>
  </div>
  <div class="col-sm-4">
    <h1>Wallet: {{WalletMoney}}</h1>
  </div>
  <div class="col-sm-4" routerLink="RemoveExpenses" style="background-color:red; color:white">
    <h1>
      <i class="material-icons " style="background-color: red; color: white ">remove</i>
      Remove
    </h1>
  </div>
</div>


<router-outlet>
  <div class="table-wrapper-scroll-y well">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Srno</th>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Deposit</th>
          <th scope="col">Withdraw</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let i of cash_expenses;let j = index">
          <th scope="row">{{j+1}}</th>
          <td>{{i.Date}}</td>
          <td>{{i.Description}}</td>
          <td>{{i.Deposit}}
            <i class="material-icons" style="color:green">trending_up</i>
          </td>
          <td>{{i.Withdraw}}
            <i class="material-icons" style="color:red">trending_up</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</router-outlet>